<div class="jumbotron owner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 headtext1">
                    <p>Вам действительно нужно</p>
                    <h1>ПРОДАТЬ ИЛИ СДАТЬ <br> ЗАГОРОДНУЮ НЕДВИЖИМОСТЬ?</h1> 

                    <div style="text-align:center"> 
                        <a href="#owner_order" class="ow_more">Мы приводим реальных клиентов!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Marketing messaging and featurettes
        ================================================== --> 
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="marketing">
        <div class="container"> 
    
            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <ul class="media-list">
                        <li class="media"> 
                            <span class="pull-left"> <img class="media-object" src="images/countryside.png" alt=""> </span>
                            <div class="media-body">
                                <h4 class="media-heading">Специализируемся на загороде</h4>
                                Премиальная загородная недвижимость &mdash; это наша исключительная профессиональная страсть. Мы понимаем всю специфику работы в данном сегменте и детально прорабатываем стратегию каждой сделки.                          
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /.col-lg-4 -->

                <div class="col-md-4 col-lg-4">
                    <ul class="media-list">
                        <li class="media"> 
                            <span class="pull-left"> <img class="media-object" src="images/market.png" alt=""> </span>
                            <div class="media-body">
                                <h4 class="media-heading">Охватываем весь рынок</h4>
                                Взаимодействуя с основными игроками на рынке и эффективно управляя рекламными инструментами, мы уверены в том, что доносим предложения наших клиентов до всех возможных потенциальных покупателей.
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /.col-lg-4 -->

                <div class="col-md-4 col-lg-4">
                    <ul class="media-list">
                      <li class="media"> 
                        <span class="pull-left"> <img class="media-object" src="images/feedback.png" alt=""> </span>
                        <div class="media-body">
                            <h4 class="media-heading">Даем обратную связь</h4>
                            Реальная статистика по каждому объекту: просмотры объявлений, целевые обращения, проведенные показы &mdash; позволяет нашим клиентам принимать взвешенные решения о формировании объективной рыночной цены.                          
                        </div>
                      </li>
                    </ul>
                </div>
                <!-- /.col-lg-4 --> 
            </div>
            <!-- /.row --> 
        </div>
    </div>


    <div class="featurette sec">
          <div class="container">
            <div class="row">
                <article class="content  col-xs-12">
                    <section> 
                  
                        <!--text-->
                        <div style="margin-top:-110px"> 
                            <div class="col-xs-12 col-md-3 col-lg-3"></div>
                            <div class="col-xs-12 col-md-6 col-lg-6" style="padding-right:0; padding-left:0;">

                                <div class="col-xs-12 h2" id="owner_order">Обратная связь</div>

                                <form action="" method="POST" enctype="multipart/form-data" class="form_owners">
                                    <input type="text" value="" name="lastname" class="novis">

                                    <div class="col-xs-12 col-sm-6"> 
                                        <input type="text" required value="" placeholder="Имя *" name="name">
                                    </div>

                                    <div class="col-xs-12 col-sm-6">
                                        <input type="tel" required value="" placeholder="Телефон *" name="tel">
                                    </div>

                                    <div class="col-xs-12 col-sm-6">
                                        <input type="email" required value="" placeholder="E-mail *" name="mail">
                                    </div>

                                    <div class="col-xs-12 col-sm-6">
                                        <div class="styled-select slate2">
                                            <select name="what" multiple data-max-options="1" class="selectpicker">
                                                <option value="Я хочу продать дом" selected>Я хочу продать дом</option>
                                                <option value="Я хочу сдать в аренду дом">Я хочу сдать в аренду дом</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-xs-12">
                                        <textarea name="text" placeholder="Сообщение"></textarea>
                                    </div>

                                    <div class="col-xs-12" style="text-align:center">
                                        <input type="submit" value="Отправить" class="send">
                                    </div>
                                </form>
                            </div>

                            <div class="col-xs-12 col-md-3 col-lg-3"></div>
                        </div>
                        <!--text_end--> 
                  
                    </section>
                </article>
            </div>
        </div>
    </div>